.heading-generate-weight {
  &--type {
    &-regular {
      font-weight: 400;
    }
    &-medium {
      font-weight: 500;
    }
    &-semibold {
      font-weight: 600;
    }
    &-bold {
      font-weight: 700;
    }
  }
}

.heading-font-color {
  &--type {
    &-default {
      color: #3a3a3a;
    }
    &-success {
      color: #44d600;
    }
    &-error {
      color: #ff1a43;
    }
    &-warning {
      color: #ffa31a;
    }
    &-info {
      color: #002d7c;
    }
    &-secondary {
      color: #727272;
    }
    &-lightdark {
      color: #4f4f4f;
    }
  }
}

.heading-subtitle {
  font-size: 32px;
  font-weight: var(--font-weight);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
