.circle-progress {
  fill: none;
}

.circle-progress {
  stroke-linecap: round;
  stroke-linejoin: round;

  animation: c-progress var(--cp-duration) ease-out forwards;
}

@keyframes c-progress {
  from {
    stroke-dashoffset: var(--perimeter);
  }
  to {
    stroke-dashoffset: var(--dash-offset);
  }
}
