.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  justify-content: center;
}

.logo {
  width: 88px;
  height: 72px;

  @media (min-width: 1024px) {
    width: 104px;
    height: 88px;
  }
}

.textGroup {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color: #3A3A3A;
}

.nameLine {
  font-weight: 800;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.title {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.3px;
  text-align: center;
  color: #3A3A3A;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.title .blue {
  color: #002D7C;
}

.subtitle {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-top: 0.25rem;
  color: #4F4F4F;

  @media (min-width: 768px) {
    font-size: 13px;
  }

  @media (min-width: 1024px) {
    font-size: 14px;
  }
}

.description {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  white-space: pre-line;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3A3A3A;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.rememberMe {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;

   @media (min-width: 1024px) {
    font-size: 14px;
  }
}


.home-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 336px;
  height: 51px;

  padding: 12px 28px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.7) 40.63%,
    rgba(255, 255, 255, 0.12) 92.71%,
    rgba(255, 255, 255, 0.4) 100%
  );

  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;

  transition: opacity 0.2s ease;
}

.home-button:hover {
  opacity: 0.9;
}